<div *ngIf="!products">
  <div class="text-center my-5">
    <div class="spinner-grow" style="width: 7rem; height: 7rem;" role="status">
     <span class="sr-only">Loading...</span>
    </div>
  </div>
</div>

<div class="row mb-5">
  <div class="clo-4" style="width: 88%;">
    <h1 class="text-center" style="font-weight: bold !important;">Products</h1>
  </div>
  <div class="clo-4">
    <button class="btn btn-delivery" (click)="back()" matTooltip="Press here to back to the previus page.">
      <i class="bi bi-arrow-left-square"></i> Back
    </button>
  </div>
</div>

<div class="row">
  <p class="pl-5 pr-5 pt-2 fs-16 text-option">Shop selected: {{this.selectedShop}}</p>
</div>

<!-- Options -->
<!-- <div class="row" *ngIf="products">
  <button class="btn btn-delivery" (click)="addProduct()" style="margin-right: 2rem;" matTooltip="Press here add one shop more.">
    <i class="bi bi-plus-circle-fill"></i> Add Product
  </button>
  <button class="btn btn-delivery" (click)="showProducts()" matTooltip="Press here for consult the shops added.">
    <i class="bi bi-search"></i> Consult Products
  </button>
  <p class="pl-5 pr-5 pt-2 fs-16 text-option">Option selected: {{this.opcion}}</p>
</div> -->

<div class="row mt-4" >
  <p class="pl-5 pr-5 pt-2 fs-16 text-option border border-primary rounded mr-4" style="border: 1px solid #6f2dbd !important;">Capacity of cart: 100</p>
  <p class="pl-5 pr-5 pt-2 fs-16 text-option border border-primary rounded" style="border: 1px solid #6f2dbd !important;">Capacity used: {{this.cartService.getCurrentVolume().toString()}}</p>
</div>

<!-- Registrer of new product -->
<div class="row mt-4" *ngIf="this.opcion == 'Add'">
  <div class="card w-100">
    <div class="card-body">
      <form #productsForm="ngForm" (ngSubmit)=onSubmit(productsForm)>
        <p>Product</p>
        <div class="form-group">
          <input type="text" class="form-control" name="id" #id="ngModel" [(ngModel)]="productService.productSelected.id" placeholder="Id" >
        </div>
        <div class="form-group">
          <input type="text" class="form-control" name="name" #name="ngModel" [(ngModel)]="productService.productSelected.name" placeholder="Name">        
        </div>
        <div class="form-group">
          <input type="text" class="form-control" name="price" #price="ngModel" [(ngModel)]="productService.productSelected.price" placeholder="Price">        
        </div>
        <div class="form-group">
          <input type="text" class="form-control" name="volume" #volume="ngModel" [(ngModel)]="productService.productSelected.volume" placeholder="Volume">        
        </div>
        <div class="form-group">
          <input type="text" class="form-control" name="shop" #shop="ngModel" [(ngModel)]="productService.productSelected.shop" placeholder="Shop">        
        </div>
        <div class="form-group">
          <button class="btn btn-delivery mr-4" type="submit">
            Accept
          </button>
          <button class="btn btn-delivery" type="reset">
            Reset
          </button>
        </div>
      </form>
    </div>  
  </div>
</div>

<!-- Registrer of new city -->
<!-- <div class="row mt-4">
  <div class="card w-100">
    <div class="card-body">
      <form #cityForm="ngForm" (ngSubmit)=onSubmitCity(cityForm)>
        <p>City</p>
        <div class="form-group">
          <input type="text" class="form-control" name="id" #id="ngModel" [(ngModel)]="productService.productSelected.id" placeholder="Id" >
        </div>
        <div class="form-group">
          <input type="text" class="form-control" name="name" #name="ngModel" [(ngModel)]="productService.productSelected.name" placeholder="Name">        
        </div>
        <div class="form-group">
          <button class="btn btn-delivery mr-4" type="submit">
            Accept
          </button>
          <button class="btn btn-delivery" type="reset">
            Reset
          </button>
        </div>
      </form>
    </div>  
  </div>
</div> -->

<!-- List of products -->
<table class="table mt-4" *ngIf="this.opcion == 'Consult'">
	<thead>
		<tr>
			<th scope="col">Id</th>
			<th scope="col">Name</th>
			<th scope="col">Volume</th>
			<th scope="col">Price</th>
			<th scope="row">Action</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let product of products">
			<td>{{product.id}}</td>
			<td>{{product.name}}</td>
			<td>{{product.volume}}</td>
			<td>{{product.price}}</td>
			<td>
        <button class="btn btn-delivery" (click)="addToCart(product)" matTooltip="Press here add the products to the cart.">
          <i class="bi bi-plus-circle-fill"></i>
        </button>
      </td>
		</tr>
	</tbody>
</table>

<!-- <div class="row mt-4 row-cols-1 row-cols-md-2">
  <div class="col mb-4" *ngFor="let product of products">
    <div class="card text-white bg-charcoal  h-100">
      <div class="card-body d-flex flex-column justify-content-between">
        <h5 class="card-title">{{ product.name }}</h5>
        <p class="card-text">{{ product.price | currency }}</p>
        <button class="btn btn-green" (click)="addToCart(product)">Add to cart</button>
      </div>
    </div>
  </div>
</div> -->
